.cabecalho{
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-cabecalho);
}

.cabecalho__titulo{
	font-size: 3rem;
	font-weight: 700;
	text-shadow: 5px 1px 5px var(--sombra-titulo);
}

@media screen and (min-width: 768px){
	.cabecalho__titulo{
		font-size: 4rem;
	}
}

@media screen and (min-width:  1024px){
	.cabecalho__titulo{
		font-size: 5rem;
	}
}

@media screen and (min-width:  1400px){
	.cabecalho__titulo{
		font-size: 6rem;
	}
}
